
@font-face {
  font-family: Open Sans;
  src: url("open-sans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: Open Sans light;
  src: url("open-sans/OpenSans-Light.ttf");
}
body {
    background-color:#2d3a4b ;
    color: #343a40;
    font-family: Open Sans;
}
small{
	font-family: Open Sans light;
}
img{
    user-drag: none !important;
    user-select: none !important;
    -moz-user-select: none !important;
    -webkit-user-drag: none !important;
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
}
*::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

*::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}
*::-webkit-scrollbar-thumb
{
    background-color: #0ae;
    border-radius: 10px;
    background-image: -webkit-gradient(linear, 0 0, 0 100%,
    color-stop(.5, rgba(255, 255, 255, .2)),
    color-stop(.5, transparent), to(transparent));
}
.pointer { cursor: pointer;}
.mb-100px {
    margin-bottom: 100px;
}
.w-55px {
    width: 55px;
}
.w-1200px {
    width: 1200px;
    max-width: 1200px;
}
.app-logo-img-wrapper {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background: #fff;
}
.app-logo-img-wrapper img{
    width: 246%;
    margin-left: -72%;
    margin-top: -43%;
}
.blue {
    color:#4285F4;
}
.red {
    color:#EA4335;
}
.yellow {
    color:#FBBC05;
}
.green {
    color:#34A853;
}
/*Modal*/
.modal-content {
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 6px;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 40px rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 40px rgba(0,0,0,.5);
    box-shadow: 0 0 40px rgba(0,0,0,.5);
    color: #000;
    background-color: #fff;
    border: rgba(0,0,0,0);
}
.modal-message .modal-body, .modal-message .modal-footer, .modal-message .modal-header, .modal-message .modal-title {
    background: 0 0;
    border: none;
    margin: 0;
    padding: 0 20px;
    text-align: center!important;
}

.modal-message .modal-title {
    font-size: 17px;
    color: #737373;
    margin-bottom: 3px;
}

.modal-message .modal-body {
    color: #737373;
}

.modal-message .modal-header {
    color: #fff;
    margin-bottom: 10px;
    padding: 15px 0 8px;
}
.modal-message .modal-header .fa,
.modal-message .modal-header
.glyphicon, .modal-message
.modal-header .typcn, .modal-message .modal-header .wi {
    font-size: 30px;
}

.modal-message .modal-footer {
    margin: 25px 0 20px;
    padding-bottom: 10px;
}

.modal-backdrop.in {
    zoom: 1;
    filter: alpha(opacity=75);
    -webkit-opacity: .75;
    -moz-opacity: .75;
    opacity: .75;
}
.modal-backdrop {
    background-color: #fff;
}
.modal-message.modal-success .modal-header {
    color: #53a93f;
    border-bottom: 3px solid #a0d468;
}

.modal-message.modal-info .modal-header {
    color: #57b5e3;
    border-bottom: 3px solid #57b5e3;
}

.modal-message.modal-danger .modal-header {
    color: #d73d32;
    border-bottom: 3px solid #e46f61;
}

.modal-message.modal-warning .modal-header {
    color: #f4b400;
    border-bottom: 3px solid #ffce55;
}
.app-noti-number {
    top: -6px;
    right: -8px;
}
/*END MODAL*/

.app-icon {
    width: 27px;
}
.app-wrapper {
     background-size: 40px 30px;
    min-height: 100%;
}
.banner-quangcao-wrapper {
    height: 50px;
}
.banner-quangcao-wrapper {
    width: 100%;
    max-height: 100%;
}

.app-card {
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    margin: auto;
    min-height: 150px;
    padding: 2% 2% 3% 2%;
    position: relative;
}

.login-container-wrapper {
    width: 500px;
}
.manager-wrapper {
    width: 90%;
    margin-top: 20px;
    padding: 0px;
}
.header-bar-wrapper {
    border-bottom: 1px solid #e5e5e5;
}

/*Chorme-loading*/
.app-chorme-loading-wrapper {
    background: #fff;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.app-chorme-loading-wrapper img {
    width: fit-content;
    height: fit-content;
}

/*END*/
/*CARD*/
.card1{
    position:relative;
}
.card1-body{
	padding:0px 10px 15px;
    border-radius:1rem;
    overflow:hidden;
    position:relative;
}
.card1-btn{
    position:absolute;
    right:0;
    bottom:0px;
    border-top-left-radius: 15px;
    overflow:hidden;
    transition:bottom ease 0.5s;
}
.card1-title{
    position:absolute;
    bottom:0;
    height:100%;
    color:#fff;
}
.card1-title h5{
    background: linear-gradient(to top, #343a4078 , rgba(52, 58, 64, 0) 100%);
    width:100%;
}
.card1-title h5.bg-none{
    background:none;
}
.card1-logo img{
    max-height:25px;
    max-width: 90px;
}
.card1 p{
    font-size:0.9rem;
}
.card1-header{
    display:flex;
    align-items:center;
    margin:0.5rem 0.5rem  0 0.5rem;
    position:relative;
    overflow:hidden;
    border-radius:3px;
    max-height:250px;
}

.card1-back{
    position:absolute;
    box-shadow: -1px 3px 31px 0px rgba(0,0,0,0.75);
    height:100%;
    width:100%;
    background-color:#fff;
    border-radius:3px;
    z-index:-1;
    bottom:0;
}
.card1-badge{
    position:absolute;
    display:inline-block !important;
    background:var(--primary);
    top:10px;
    left:10px;
    max-height:10px;
    max-width:25px;
    padding:0;
    margin:0;
    overflow:hidden;
    transition:all ease 0.5s;
    color:var(--primary);
}
.card1:hover .card1-badge{
    max-height:20px;
    max-width:150px;
    color:#fff;
}


.card1.flex-row .card1-back{
    width:85%;
    right:0;
    height:100%;
}
.card1.flex-row .card1-body{
    padding:1.5rem;
}
.card1.flex-row.card1-right .card1-back{
    left:0;
}
.card1.flex-row.card1-right .card1-body{
    order:1;
}
.card1.flex-row.card1-right .card1-header{
    order:2;
}
.card1.flex-row.card1-right .card1-btn{
    left:0;
    bottom:0px;
    right:initial;
    border-top-right-radius: 15px;
    border-top-left-radius: 0;
}
.shop-username-box {
    background: rgba(0, 0, 0, 0.8);
}
/*CARD1 higher img*/
.card1.card1-high .card1-header{
    max-height:400px;
}
.card1.card1-high .card1-back{
    height:70%;
}
.card-group-hide-toggle {
    display: block !important;
    cursor: pointer;
    text-align: right;
}
.card-group-hide-toggle > i {
    transform: rotate(0deg);
}
.card-group-hide-toggle.show > i{
    transform: rotate(180deg);
}
.card-disconected {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
}
.card-backfade-info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    opacity: 0.5;
}
/*END*/
.loading-back-fade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
}
.push-choice-wrapper {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}
.push-item-choice {
    border-top: 1px dotted #ccc;
}
.push-item-choice-btn-wrapper {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.push-item-choice:hover .push-item-choice-btn-wrapper{
    display: block;
}
.push-item-page {
    position: absolute;
    bottom: 0;
    right: 0;
}
.push-item-tooltip-mode {
    position: absolute;
    top: 0;
    right: 0;
}

.text-gradient {
    text-transform: uppercase;
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}
.app-noti-unread-compute {
    top: -15px !important;
    color: #fff !important;
}
.table-friend {
    table-layout: fixed;
    word-wrap: break-word;
    height: 400px;
    overflow-y: auto;
}
.table-friend-wrap {
    height: 550px;
    overflow-y: scroll;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}
.bg-pick {
    background: #96DDE7 !important;
}
.flat {
    border-radius: 0 !important;
}

.form-control-lg {
    font-size: 0.85rem;
    border-radius: .2rem;
    padding: 12px;
}
.btn-lg {
    padding: 10px;
    font-size: 0.85rem;
}
.form-control::-webkit-input-placeholder,.form-control::-moz-placeholder,.form-control::-ms-input-placeholder,.form-control::-moz-placeholder { 
  color: #889aa4;
  font-size:12;
}
.btn-delete-acc{
    position: absolute;
    right: -10px;
    top: -15px;
    display: block;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}
.shopee-syn-icon{
	width: 50px;
    height: 50px;
    padding: 7px;
}
.content-place{
	margin:15px 0px;
	border: 1px solid #dee2e6;
	border-radius: 2px;
	padding: 10px;
	position: relative;
	display: block;
}
.content-place-header{
	display: block;
	position: absolute;
	left: 5px;
	top: -12px;
	background-color: #fff;
	padding:0px 10px;
}
.btn-sm{
	font-size: 12px;
}
