<!
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shopee like - Ready to scale your business</title>
    <link rel="stylesheet" href="../styles/theme.css">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>
<body>
    <div id="app" class="app-wrapper">
      <div v-if="!low_version">
            <div v-if="!app.in">
                <div class="login-wrapper d-flex justify-content-center align-items-center h-75">
                    <div>
                        <div class="app-card login-container-wrapper">
                            <h3 class="text-center">Shopee like</h3>
                            <form v-on:submit.prevent="clickLogin" class="mb-1">
	                            <div class="form-group">
	                                <label>Email</label>
	                                <input class="form-control form-control-lg" placeholder="Email" v-model="view.username">
	                            </div>
	                            <div class="form-group">
	                                <label>Mật khẩu</label>
	                                <input type="password" class="form-control form-control-lg" placeholder="Mật khẩu" v-model="view.password">
	                            </div>
	                            <button class="btn btn-block btn-blue btn-lg" type="submit":disabled="view.is_loading"><i class="fa fa-spinner fa-spin" v-if="view.is_loading"></i> Đăng nhập</button>
                            </form>
                            <!-- <div class="form-group text-right mb-0">
                            	<button class="btn btn-link p-0" @click="clickOpenModalRegister()">Đăng ký</button>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="app.in">
                <div class="header-bar-wrapper d-flex justify-content-between p-2">
                    <div class="header-bar-time-out animated bounceInLeft text-white" style="padding-top: 6px;">
                    	<small>Ngày hết hạn: {{view.me.expiry_date | formatDate}}</small>
                    </div>
                    <div class="header-bar-action text-right animated bounceInRight">
	                    <button class="btn btn-sm btn-secondary" @click="clickLogout()">Đăng xuất</button>
                    </div>
                </div>
                <div class="container manager-wrapper">
                    <button class="btn btn-blue animated bounceInLeft" @click="clickAddAcc()"><i class="fas fa-plus"></i> Thêm tài khoản</button>
                    <span class="btn badge-primary btn-circle pull-right animated bounceInRight position-relative" data-toggle="tooltip" data-placement="left" title="Tổng số tin nhắn chưa đọc" id="totalMessageUnRead" v-show="totalMessageUnRead">
                        <i class="fab fa-facebook-messenger"></i>
                        <h4><span class="badge badge-red position-absolute app-noti-unread-compute">{{totalMessageUnRead}}</span></h4>
                    </span>
                    <button class="btn badge-warning btn-circle pull-right mr-3 animated bounceInRight position-relative" data-toggle="tooltip" data-placement="left" title="Tổng số đơn" id="totalOrderUnRead" v-show="totalOrderUnRead">
                        <i class="fas fa-compact-disc"></i>
                        <h4><span class="badge badge-red position-absolute app-noti-unread-compute">{{totalOrderUnRead}}</span></h4>
                    </button>
                    <br />
                    <small class="text-white mt-2 mb-2" style="font-size: 10px">{{app.list.length}}/{{maxSystem}} Tài khoản (Theo số ram của máy {{process.system.total | gb}})</small>
                    <div class="row mt-2">
                        <div class="col-sm-6 col-md-3 mb-3" v-for="(item, index) in app.list">
                            <div class="card1 d-flex flex-column">
                            	<a @click="clickDeteAcc(index)" class="btn-delete-acc">
                               	 	<i class="fas fa-close fa-1x text-danger" style="padding: 6px 0px 0px 8px"></i>
                               	</a>
                                <div class="card1-header align-self-center">
                                    <img :src="item.user.avatar ? 'https://cf.shopee.vn/file/' + item.user.avatar : sample.avatarShop" class="img-fluid">
                                    <div class="card1-title d-flex w-100">
                                        <h5 class="m-0 p-1 align-self-end shop-username-box text-center"><a class="btn btn-link" @click="clickGo(index, 'index')">{{item.user.username}}</a></h5>
                                    </div>
                                    <div class="card-disconected text-white d-flex justify-content-center align-items-center" v-if="item.disconnected && !item.notLogin">
                                        <div class="text-center">
                                            <i class="fas fa-spinner fa-4x fa-spin"></i>
                                            <h6 class="mt-2">Đang kết nối lại...</h6>
                                            <h6>Đảm bảo bạn đã kết nối Internet</h6>
                                        </div>
                                    </div>
                                    <div class="card-disconected text-white d-flex justify-content-center align-items-center" v-if="item.notLogin">
                                        <div class="text-center">
                                            <i class="fas fa-exclamation-circle fa-2x"></i>
                                            <h6 class="mt-2">Không đồng bộ được</h6>
                                            <h6>Bạn phải đăng nhập lại!</h6>
                                            <h6><button class="btn btn-sm btn-primary" @click="clickReLoginAcc(item.partition)">Đăng nhập Shopee "{{item.user.username}}"</button></h6>
                                            <button class="btn btn-sm btn-danger" @click="clickDeteAcc(index)"><i class="fas fa-trash-alt"></i> Xoá</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card1-body ">
                                   <div class="content-place" v-if="view.me.default_shop_id != null && view.me.default_shop_id != ''"> 
                                    	 <span class="content-place-header">Tương tác</span>
                                    	 <div>
	                                    	 <small>Trạng thái: {{getExchange(item.user).status_name}}</small>
	                                    	 <br />
	                                    	 <small v-if="item.user.shopid == view.me.default_shop_id">
	                                    	 Số điểm: {{view.me.point}}
	                                    	 <br />
	                                    	 </small>
	                                    	 <small>Lượt kế tiếp: {{
	                                    	 	Math.floor(getExchange(item.user).next_time/60) > 9 ? "" + Math.floor(getExchange(item.user).next_time/60) : "0" + Math.floor(getExchange(item.user).next_time/60)
	                                    	 }}:{{
	                                    	 	getExchange(item.user).next_time%60 > 9 ? "" + getExchange(item.user).next_time%60 : "0" + getExchange(item.user).next_time%60
	                                    	 }} </small>
	                                    	  <br />
	                                    	  <small v-if="item.user.shopid == view.me.default_shop_id">
	                                         Số điểm sẽ được dùng cho shop này
	                                         <br />
	                                         </small>
	                                    	 <button v-if="getExchange(item.user).status != 0" class="btn btn-sm btn-warning mt-1" @click="clickStopExchangePoint(item.user)" style="width: 100px"><i class="fas fa-stop"></i> Dừng</button>
	                                    	 <button v-if="getExchange(item.user).status == 0" class="btn btn-sm btn-primary mt-1" @click="clickExchangePoint(item.partition , item.user)" style="width: 100px"><i class="fas fa-thumbs-up"></i> Shopee like</button>
                                    	 </div>
                                    </div>
                                    <div class="content-place" v-if="view.me.default_shop_id == null || view.me.default_shop_id == ''"> 
                                       <span class="content-place-header">Tương tác</span>
                                       <button class="btn btn-sm btn-warning mt-1" @click="clickSetDefaultShop(item.partition , item.user)" ><i class="fas fa-thumbs-up" ></i> Chọn tài khoản tăng like</button>
                                       <br />
                                       <small>*Chỉ được set 1 lần</small>
                                    </div>
                                     <div class="content-place">
                                     	<span class="content-place-header">Sản phẩm</span>
                                     	<button class="btn btn-sm btn-secondary mt-1" @click="clickOpenClone(item.user.username)" style="width: 100px"><i class="far fa-clone"></i> Xuất Excel</button>
	                                    <button class="btn btn-sm btn-secondary mt-1" @click="clickPushManager(index)"  style="width: 120px"><i class="fas fa-stopwatch"></i> Đẩy sản phẩm</button>
	                                    <div class="card1-info d-flex flex-wrap">
	                                        <ul class="list-unstyled mb-0 flex-grow-1">
	                                            <li >
	                                           	 	<small><i class="fas fa-stopwatch"></i> <strong class="d-lg-inline">Đẩy tự động:</strong> {{item.pushArr ? item.pushArr.length : 0}}/5 SP</small>
	                                            </li>
	                                        </ul>
	                                    </div>
                                     </div>
                                    
                                    <div class="d-flex justify-content-around position-relative">
                                        <div>
                                            <div class="mb-2 text-center font-weight-bold">Chats</div>
                                            <div class="btn btn-primary btn-sm position-relative shopee-syn-icon" @click="clickChat(item.user.username)">
                                                <i class="fab fa-facebook-messenger fa-3x" style="font-size: 30px;padding: 3px"></i>
                                                <h3 class="position-absolute app-noti-number" v-show="item.user.numMessage">
                                                    <div class="badge badge-danger">{{item.user.numMessage}}</div>
                                                </h3>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="mb-2 text-center font-weight-bold">Đơn bán</div>
                                            <div class="btn btn-warning position-relative shopee-syn-icon" @click="clickGo(index, 'order')" style="padding-top: 9px;">
                                                <i class="fas fa-hand-holding-usd fa-2x" style="color: #fff"></i>
                                                <h3 class="position-absolute app-noti-number" v-show="item.user.numOrder">
                                                    <div class="badge badge-danger">{{item.user.numOrder}}</div>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-backfade-info" v-show="item.disconnected || item.notLogin"></div>
                                </div>
                                <div class="card1-back shadow"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-show="app.loading">
                <div class="app-chorme-loading-wrapper d-flex justify-content-center align-items-center">
                    <div>
                        <h1 class="text-center animated pulse">Shopee</h1>
                        <small class="text-center d-block" :class="{'animated animated--infinite flash': app.loading }">Loadding ...</small>
                    </div>
                </div>
            </div>
            <div id="modal-push" class="modal modal-message modal-danger fade" data-backdrop="static" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header text-center d-block">
                            <i class="fab fa-chrome fa-4x w-100" :class="pushP.searchLoading ? 'fa-spin':''"></i>
                            <small v-if="pushP.searchLoading" class="animated--infinite animated flash d-block">Đang tải...</small>
                        </div>
                        <div class="modal-body position-relative">
                            <div>
                                <input v-model="pushP.searchStr" class="form-control form-control-sm" placeholder="Nhập sản phẩm bạn cần tìm...">
                            </div>
                            <small class="mt-1 mb-1">{{pushP.searchTotal}} kết quả có thể đẩy</small>
                            <small class="mt-1 mb-1" v-show="pushP.searchTotal > 0">Trang {{pushP.searchCurrentPage + 1}} / {{Math.ceil(pushP.searchTotal/pushP.searchLimit)}} </small>
                            <div class="position-relative">
                                <div class="push-choice-wrapper">
                                    <div class="row push-item-choice position-relative" v-for="item in pushP.searchList">
                                        <div class="col-2">
                                            <img :src="'https://cf.shopee.vn/file/' + item.images[0]" class="img-fluid"/>
                                        </div>
                                        <div class="col-10 d-flex justify-content-center align-items-center">
                                            <h6>{{item.name}}</h6>
                                        </div>
                                        <div class="push-item-choice-btn-wrapper">
                                            <div class="d-flex justify-content-center align-items-center h-100">
                                                <button class="btn btn-light" @click="clickChoicePush(item)">Chọn</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="push-item-page">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-sm btn-secondary" v-show="pushP.searchCurrentPage > 0" @click="pushPrevSearch()"><i class="fas fa-arrow-left"></i></button>
                                        <button type="button" class="btn btn-sm btn-secondary" v-show="pushP.searchCurrentPage < Math.floor(pushP.searchTotal/pushP.searchLimit)" @click="pushNextSearch()"><i class="fas fa-arrow-right"></i></button>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <h5>Danh sách các sản phẩm được đẩy tự động: {{pushP.selectedList.length}}/5 SP</h5>
                            <div class="push-choice-wrapper bg-dark text-white">
                                <div class="row push-item-choice position-relative" v-for="(item, index) in pushP.selectedList">
                                    <div class="col-1">
                                        <img :src="'https://cf.shopee.vn/file/' + item.image" class="img-fluid"/>
                                    </div>
                                    <div class="col-6 d-flex justify-content-center align-items-center">
                                        <h6>{{item.name}}</h6>
                                    </div>
                                    <div class="col-5 d-flex justify-content-center align-items-center">
                                        <h6 v-if="!item.mode">Tự động đẩy</h6>
                                        <small v-if="item.mode">
                                            <span class="mr-1" v-for="time in item.timer"> {{time}} </span>
                                        </small>
                                    </div>
                                    <div class="push-item-choice-btn-wrapper">
                                        <div class="d-flex justify-content-center align-items-center h-100">
                                            <button class="btn btn-danger" @click="clickPushDeleteSelected(index)">Xoá</button>
                                            <button class="btn btn-primary" @click="clickPushChangeTimerMode(index)">
                                                <span v-if="!item.mode" >Hẹn giờ</span>
                                                <span v-if="item.mode" >Tự động</span>
                                            </button>
                                            <div v-if="item.mode" class="d-flex justify-content-center align-items-center">
                                                <input v-model.number="pushP.pushHour" class="form-control form-control-sm d-block w-55px" placeholder="Giờ">
                                                <input v-model.number="pushP.pushMinute" class="form-control form-control-sm d-block w-55px" placeholder="Phút">
                                                <button class="btn btn-warning" @click="clickPushAddTimer(index)"><i class="fas fa-plus"></i></button>
                                                <button class="btn btn-secondary" @click="clickPushDeleteTimer(index)"><i class="fas fa-eraser"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="loading-back-fade" v-show="pushP.searchLoading"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" @click="clickSavePushList()"><i class="far fa-save"></i> Lưu danh sách đẩy</button>
                            <button type="button" class="btn btn-secondary" @click="toggleSearchPush(false)"><i class="fas fa-times"></i> Hủy</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modal-register" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Đăng ký tài khoản</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			         <div class="form-group">
                         <label>Email</label>
                         <input class="form-control form-control-lg" placeholder="Email" v-model="register.username">
                     </div>
                     <div class="form-group">
                         <label>Mật khẩu</label>
                         <input type="password" class="form-control form-control-lg" placeholder="Mật khẩu" v-model="register.password">
                     </div>
			      </div>
			      <div class="modal-footer">
			        <button type=button @click="clickRegister()" class="btn btn-primary" :disabled="register.is_loading"><i class="fa fa-spinner fa-spin" v-if="register.is_loading"></i> Đăng ký</button>
			      </div>
			    </div>
			  </div>
			</div>
            <div id="modal-clone" class="modal modal-message modal-warning fade" data-backdrop="static" aria-hidden="true">
                <div class="modal-dialog modal-lg w-1200px">
                    <div class="modal-content">
                        <div class="modal-body position-relative pt-4">
                            <h5>Chúng tôi chỉ lấy những sản phẩm shop <span class="badge badge-primary">{{this.app.clone.username}}</span> còn hàng</h5>
                            <div><input class="form-control form-control-sm" placeholder="Tìm sản phẩm theo tên" v-model="app.clone.search"></div>
                            <table class="table mt-3">
                                <thead>
                                <tr class="row">
                                    <th class="col-1 text-center">
                                        # | <i :class="[ app.clone.isCheckAll ?'far fa-check-square':'far fa-square']" @click="clickCheckAllClone()"></i>
                                    </th>
                                    <th class="col-2 text-center">Ảnh</th>
                                    <th class="col-3 text-center">Tên sp</th>
                                    <th class="col-2 text-center">Giá</th>
                                    <th class="col-4 text-center">Mô tả</th>
                                </tr>
                                </thead>
                            </table>
                            <div class="container-fluid table-friend-wrap">
                                <table class="table table-hover table-friend">
                                    <tbody>
                                        <tr class="row" v-for="(item, index) in filteredClone">
                                            <td class="col-1 text-center">
                                                {{index + 1}} - <input type="checkbox" :value="true" v-model="item.pick">
                                            </td>
                                            <td class="col-2 text-center"><img class="img-fluid" :src="'https://cf.shopee.vn/file/' + item.images[0]"></td>
                                            <td class="col-3 text-center">
                                                {{app.clone.tiento + item.name + app.clone.hauto}}
                                                <div>
                                                    <input v-model="item.name" class="form-control-sm form-control">
                                                </div>
                                            </td>
                                            <td class="col-2 text-center">
                                                {{parseInt(item.price) + app.clone.giachenhlech | vnd}}
                                                <div>
                                                    <input type="number" v-model.number="item.price" class="form-control-sm form-control">
                                                </div>
                                            </td>
                                            <td class="col-4 text-center">
                                                <div>
                                                    <textarea v-model="item.description" class="form-control-sm form-control" rows="7"></textarea>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row mt-2">
                                <div class="col-3">
                                    <div class="badge badge-dark d-block flat">Thêm phía trước tên</div>
                                    <div><input class="form-control form-control-sm flat" v-model="app.clone.tiento"></div>
                                </div>
                                <div class="col-3">
                                    <div class="badge badge-dark d-block flat">Thêm phía sau tên</div>
                                    <div><input class="form-control form-control-sm flat" v-model="app.clone.hauto"></div>
                                </div>
                                <div class="col-3 offset-3">
                                    <div class="badge badge-dark d-block flat">Điều chỉnh chênh lệch số tiền</div>
                                    <div><input class="form-control form-control-sm flat" type="number" v-model.number="app.clone.giachenhlech"></div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" @click="clickExportExcelClone()"><i class="far fa-save"></i> Tải xuống sản phẩm</button>
                            <button type="button" class="btn btn-secondary" @click="clickCloseClone()"><i class="fas fa-times"></i> Hủy</button>
                        </div>
                    </div>
                </div>
                 </div>
			        <div v-if="low_version">
			            <div class="container">
			                <div class="bg-white p-5 text-center">
			                    <h4>Phiên bản trên máy của bạn: {{version.toFixed(1)}}</h4>
			                    <h4>Phiên bản mới của chúng tôi đã cập nhật lên: {{server_version.toFixed(1)}}</h4>
			                    <h5>Vui lòng tải lại trên trang chủ</h5>
			                </div>
			            </div>
			        </div>
            </div>
            
    </div>

    <script>window.$ = window.jQuery = require('../node_modules/jquery/dist/jquery.min');</script>
    <script src="../node_modules/popper.js/dist/umd/popper.js"></script>
    <script src="../node_modules/vue/dist/vue.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../utils.js"></script>
    <script src="../controller/index.js"></script>
</body>
</html>